.hero-card {
  display: flex;
  margin-bottom: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.no-heroes-card {
    margin-top: 10%;
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }

.no-heroes-card p {
  font-size: 1.2em;
  font-weight: 500;
  color: #048a9c;
  padding: 2%;
  padding-right: 0;
  margin-bottom:0;
  }

.no-heroes-card span {
  font-size: 1.2em;
  font-weight: 500;
  color: #f9b66f;
  padding: 2%;
  padding-left: 1%;
  margin-bottom: 0;
}

.hero-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.hero-list{
  width: 98%;
  margin: 1%;
}

.hero-image {
  width: 120px;
  height: 120px;
  border-radius: 20px 0 20px 0 ;
  margin-top: 10%;
  object-fit: cover;
}

.hero-details {
  margin: 1%;
  font-size: 1.25em;
}

.hero-title {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 8px;
  color: #048a9c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.left-container {
  justify-content: column;
  padding: 0.5%;
  padding-left: 1%;
}

.hero-actions {
  padding-left: 7%;
}

.extras {
  font-size: 0.90em;
}
