<section class="hero-list">
  <div *ngFor="let hero of heroes" class="hero-card">
    <div class="left-container">
      <img [src]="hero.imageUrl || 'https://i.ibb.co/bWyFFKM/default-photo.png'" alt="Hero Image"
        class="hero-image">
    </div>
    <div class="hero-details">
      <h2 class="hero-title">{{ hero.name }}</h2>
      <p><strong>Concept:</strong> {{ hero.concept }}</p>
      <p><strong>Nation:</strong> {{ hero.nation?.name }}</p>
      <div class="hero-actions">
        <button mat-icon-button color="warn" (click)="confirmDelete(hero)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editHero(hero.id!)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="onDownloadClick(hero.id!, hero.name!)">PDF</button>
      </div>
    </div>
  </div>
</section>

<div class="no-heroes-card" *ngIf="heroes.length === 0">
  <p>Oops, it looks like you don't have any heroes... What are you waiting for to start your
    own
    adventures?</p>
  <span>Go to 'New hero' section.</span>
</div>