@import '~@angular/material/prebuilt-themes/purple-green.css';


body {
  margin: 0;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 0;
  background-color: #0a6b7a;
  /* background-image: url("./assets/waves.png"); */
  background-image: url("./assets/waves2.png");
  background-size: cover;
}

