.mat-mdc-dialog-actions {
  justify-content: center;
  gap: 5%;
}

.mat-mdc-button {
  padding: 5%;
  margin-bottom: 2%;
}

.dialog-header {
  display:flex;
  justify-content: space-between;
  align-items: self-end;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
}

h2 {
margin-bottom: 0;
padding: 0;
display: flex;
}

button {
  color: white;
}
